form{
    display: flex;
  flex-direction: column;
  background:skyblue;

  /* border: 3px solid green; */
  border-radius: 20px;
  width: 30em;
  padding: 2em;
}
form input{
    border: 0;
    margin :10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 20px;
  }
  form textarea{
    border: 0;
    margin :10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 20px;
  }
  .button{
    padding: 15px;
    background: #ff5361;
    color :#ffff;
    font-size: 18px;
    border: 0;
    outline:none;
    border-radius: 10px;
    width: 30%;
  margin-top: 1em;
    align-self: center;
  
  }
  .button:hover{
    padding: 15px;
    background: #ff5361;
    color :#ffff;
    font-size: 18px;
    border: 0;
    outline:none;
    border-radius: 10px;
    width: 30%;
    transform: scale(1.2);
    cursor: pointer;
  margin-top: 1em;
    align-self: center;

  
  }
 .touch {
    color: #555;
    font-weight: 900;
    margin-bottom: 20px;
    align-self: center;
  }